

.content {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 6.5%;
        width: 1px;
        height: 100%;
        background-color: rgb(235, 230, 230);
    }
}