
.button {
    position: relative;

     &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 25px;
        background-color: #FFFFFF40;
        top: 50%;
        left: 53%;
        transform: translate(50%, -50%);
     }
}

