@import "tailwindcss";


* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body, #root {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
  


input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }



  /*-------------@theme-----------*/

@theme {
  --breakpoint-xl: 75rem; /* 1200px */  
  --breakpoint-lg: 62rem; /* 992px  */ 
  --breakpoint-md: 48rem; /* 768px  */ 
  --breakpoint-sm: 30rem; /* 480px  */ 
  --breakpoint-ss: 26rem; /* 416px  */ 

  --color-my-canvas: #FFDF8C;
  --color-my-orange: #FE5F1E;

  --color-my-orange-text: #EB5A1E;
  --color-my-light-black-text: #EB5A1E;
  --color-my-gray-text: #777777;

}
/* 
max-xl	@media (width < 1200px 75rem)
max-lg	@media (width < 992px 62rem)
max-md	@media (width < 768px 48rem)
max-sm	@media (width < 480px 30rem)
max-ss	@media (width < 416px 26rem)
*/